<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.itsoha.mobilesafe">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.WRITE_CONTACTS"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!--在窗体上挂载的权限-->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.READ_CALL_LOG"/>
    <uses-permission android:name="android.permission.WRITE_CALL_LOG"/>
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="WRITE_SMS"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--主界面的Activity-->
        <activity android:name=".Activity.HomeActivity"></activity>
        <!--设置界面的Activity-->
        <activity android:name=".Activity.SettingActivity"></activity>
        <!--手机防盗的Activity-->
        <activity android:name=".Activity.SetupOverActivity"></activity>
        <!--手机防盗导航界面一。-->
        <activity android:name=".Activity.Setup1Activity"></activity>
        <!--手机防盗导航界面二。-->
        <activity android:name=".Activity.Setup2Activity"></activity>
        <!--手机防盗导航界面三。-->
        <activity android:name=".Activity.Setup3Activity"></activity>
        <!--手机防盗导航界面四。-->
        <activity android:name=".Activity.Setup4Activity"></activity>
        <!--选择联系人的界面-->
        <activity android:name=".Activity.SelectContactActivity"></activity>
        <!--高级工具的界面-->
        <activity android:name=".Activity.AToolActivity"></activity>
        <!--查询的归属地界面-->
        <activity android:name=".Activity.QueryAddressActivity"></activity>
        <!--通信卫士，黑名单的界面-->
        <activity android:name=".Activity.BlackNumberActivity"></activity>
        <!--Toast位置的半透明界面-->
        <activity android:name=".Activity.ToastLocationActivity"></activity>
        <!--手机重启的广播接受者-->
        <receiver android:name=".Receiver.BootReciver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <!--短信的广播接受者-->
        <receiver android:name=".Receiver.SmsReceiver">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
        <!--激活设备管理器的广播接收者-->
        <receiver
            android:name=".Receiver.DeviceAdminReceiver"
            android:description="@string/sample_device_admin_description"
            android:label="@string/sample_device_admin"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin" />
            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>
        <!--获取位置的服务-->
        <service android:name=".Service.LocationService"></service>
        <!--开启归属地的服务-->
        <service android:name=".Service.AddressService"></service>
        <!--小火箭的服务-->
        <service android:name=".Service.RocketService"></service>
        <!--黑名单拦截的服务-->
        <service android:name=".Service.BlackNumberService"></service>

    </application>

</manifest>